.hero {
    padding: 80px 0;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__title {
        font-size: 60px;
        margin-bottom: 10px;
        font-family: Poppins-SemiBold;
    }

    &__desc {
        font-size: 17px;
        letter-spacing: 1.3px;
        line-height: 28px;
    }

    &__image {
        img {
            border-radius: 10px;
        }
    }
}

// Responsive
@media(max-width: 1250px) {
    .hero {
        &__wrapper {
            flex-direction: column;
        }
        &__content{
            text-align: center;
            margin-bottom: 20px;
        }
    }

}
@media(max-width: 490px) {
    .hero {
      &__title{
        font-size: 40px;
      }
    }
}
@media(max-width: 340px) {
    .hero {
      &__title{
        font-size: 35px;
      }
    }

}